*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inp{
    border: none;
    border-bottom: 1px solid grey;
}
.inp:focus{
    outline: none;
    box-shadow: 3px 3px 5px grey !important;
}
